
  
  
  /*---------- Hamburger Styles -----------*/
  
  .hamburger {
    padding : 5px 7px;
    display : inline-block;
    cursor : pointer;
    font : inherit;
    color : inherit;
    text-transform : none;
    background-color : transparent;
    border : 0;
    margin : 0;
    overflow : visible;
    }
    .hamburger:hover {
    background-color : rgb(255, 255, 255, 0);
    }
    .hamburger-box {
    width : 26px;
    height : 14px;
    display : inline-block;
    position : relative;
    }
    .hamburger-inner {
    display : block;
    top : 50%;
    margin-top : -5px;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width : 26px;
    height : 4px;
    background-color : rgb(0, 0, 0);
    border-radius : 40px;
    position : absolute;
    transition-property : transform;
    transition-duration : 0.15s;
    transition-timing-function : ease;
    }
    .hamburger-inner::before, .hamburger-inner::after {
    content : "";
    display : block;
    }
    .hamburger-inner::before {
    top : -10px;
    }
    .hamburger-inner::after {
    bottom : -10px;
    }
    .hamburger--spring .hamburger-inner {
    top : 2px;
    background-color : #000000;
    transition : background-color 0s 0.13s linear;
    }
    .hamburger--spring .hamburger-inner::before {
    top : 10px;
    background-color : #000000;
    transition : top 0.1s 0.2s cubic-bezier(0.33333,0.66667,0.66667,1), transform 0.13s cubic-bezier(0.55,0.055,0.675,0.19);
    }
    .hamburger--spring .hamburger-inner::after {
    top : 20px;
    background-color : #000000;
    transition : top 0.2s 0.2s cubic-bezier(0.33333,0.66667,0.66667,1), transform 0.13s cubic-bezier(0.55,0.055,0.675,0.19);
    }
    .hamburger--spring.is-active .hamburger-inner {
    transition-delay : 0.22s;
    background-color : transparent !important ;
    }
    .hamburger--spring.is-active .hamburger-inner::before {
    top : 0;
    transition : top 0.1s 0.15s cubic-bezier(0.33333,0,0.66667,0.33333), transform 0.13s 0.22s cubic-bezier(0.215,0.61,0.355,1);
    transform : translate3d(0,10px,0) rotate(45deg);
    }
    .hamburger--spring.is-active .hamburger-inner::after {
    top : 0;
    transition : top 0.2s cubic-bezier(0.33333,0,0.66667,0.33333), transform 0.13s 0.22s cubic-bezier(0.215,0.61,0.355,1);
    transform : translate3d(0,10px,0) rotate(-45deg);
    }
  
  
  
  
  
  
  
  
  
  
  
  
  .my-cart{
    width: 95%;
  }

  form.my-cart:focus {
    outline:none;
  }
  
  
  
  
    .cart-drawer .offcanvas-Body {
    padding : 0em;
    }
    /* .cart-drawer .offcanvas-Cart {
    width : 500px;
    } */
    .cart-drawer .offcanvas-header {
    --bs-gutter-x : 0;
    --bs-gutter-y : 0;
    border-bottom : none;
    padding : 1em 0em 0em 1em ;
    height : 60px;
    align-items: center;
    }
    .cart-drawer .offcanvas-title {
    font-size : 18px;
    font-weight : 800;
    }
    .cart-drawer .cart-Items {
    font-size : 12px;
    font-weight : 400;
    padding : 0 0.5em;
    }
    .cart-drawer .cart-Product--Quantity {
    font-size : 14px;
    font-weight : 400;
    text-transform : none;
    color : #131313;
    }
    .cart-drawer .close-Drawer {
      text-align: right;
    background-color : white;
    padding : 10px;
    border : none;
    }
    .cart-drawer .cart-Product {
    padding : 1em 0 2em 1em;
    }
    .cart-drawer .cart-Product a:hover{
      color: rgb(255, 174, 0);
      }
    .cart-drawer .cart-Product--Image {
    width : 100%;
    object-fit : cover;
    /* min-height : 100%; */
    border-radius : 10px;
    }
    .cart-drawer .cart-Product--Info {
    padding : 0 1em 0 1em;
    }
    .cart-drawer .cart-Product--Collection {
    font-size : 14px;
    font-weight : 800;
    margin-top : 0;
    }
    .cart-drawer .cart-Product--Title {
    font-weight : 400;
    font-size : 15px;
    /* margin-top : -5px; */
    }
    .cart-drawer .product-Pricing {
    padding-top : 0.5em;
    }
    .cart-drawer .product-Pricing--Unit {
    font-size : 14px;
    }
    .cart-drawer .cart-Product--Price {
    font-weight : 600;
    font-size : 13px;
    text-align : right;
    margin-top : 1em;
    color : rgb(0, 0, 0);
    }
    .cart-drawer .cart-Footer {
    background-color : rgb(245, 245, 245);
    position: relative;
    bottom: 0;
    width: 100%;
    }
    .cart-drawer .cart-Subtotal {
    border-top : 2px dotted black;
    margin : 2em 1em 0;
    }
    .cart-drawer .cart-Subtotal--Text {
    font-weight : 800;
    font-size : 16px;
    text-align : left;
    padding-top : 0.5em;
    }
    .cart-drawer .cart-Subtotal--Amount {
    font-weight : 700;
    font-size : 15px;
    color : rgb(0, 0, 0);
    text-align : right;
    padding-top : 0.5em;
    }
  
  
    .drawer-Foooter--Btns{
      display: flex;
    }
    .cart-drawer .checkout-Btn {
    padding : 1.5em 1em 2em 1em;
    border : none;
    }
    .cart-drawer .add-To-Cart--Btn {
    padding : 15px 30px;
    font-weight: 600;
    color: black;
    }
  
    .quantity-Column{
      display: flex;
      border: 2px solid black;
      background-color: black;
      border-radius: 10px;
      height: 2em;
      width: 8em;
    }
    .quantity-Icon{
      font-size: 12px;
    }
  
  
  
    .add-To-Cart--Btn{
      padding: 16px 40px;
      border-radius: 10px;
      background-color: #fff;
      border: 2px solid black;
      line-height: 15px;
    }
    .add-To-Cart--Btn a{
      color: #000;
    }
    
    
    /* Button Hover */
     .add-To-Cart--Btn:hover{
      /* border-radius: 50px; */
      background-color:rgb(0, 0, 0);
      color: white;
      border: 2px solid black;
      transition: .3s ease;
    }
    .add-To-Cart--Btn:hover a{
      color: rgb(255, 255, 255);
    }
  
  
  
  
  
  














































  /* Cart CSS */
  .cart-items--section{
    padding: 2em 0em;
}

.title-wrapper-with-link{
    text-align: left;
    padding: 2em 0em;
}


.title.title--primary{
    /* font-size: 30px; */
    color: rgb(0, 0, 0);
}


.underlined-link{
    color:rgb(71, 71, 71);
}
.underlined-link:hover{
    color: rgb(255, 174, 0);
}















/* Styling when cart is empty */
.cart__warnings{

}

.cart__empty-text{
    color: rgb(71, 71, 71);;
}

.cart__warnings .link{
    color:rgb(71, 71, 71);
}






.cart-Header--Container{
    padding: 1em 0em;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.item-Row{
    padding: 2em 0;
}

.cart-Header--Title{
    font-weight: 600;
}



.caption-with-letter-spacing{
    font-weight: 600;
}
.dt-Text, .dd-Text{
    font-size: 15px;
}

.dt-Text{
    font-weight: 500;
}



/* 
.title-wrapper-with-link{
    border-bottom: 1px solid #efefef;
} */


.medium-down{
    display: none;
}
.product-Quantity{
    /* padding-top: 2em; */
}


cart-remove-button .icon-remove {
    color: black;
}



.product-Final--Price{
    display: flex;

}
.cart-item__price-wrapper{
    /* padding-top: 2.5em; */
}
.cart-Remove--Btn{
    /* padding-top: 2.6em; */
    padding-left: 2em;
    /* align-self: center; */
    color: black;
}
.quantity__button {
    padding: 0px;
    width: 3rem;
    border-radius: 15px;
    flex-shrink: 0;
    font-size: 1.8rem;
    border: 0;
    background-color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .quantity__button.minus-Btn{
    border-radius: 12px 0 0 12px;
    width: 30px;
  }
  .quantity__button.add-Btn{
    border-radius: 0 12px 12px 0;
    width: 30px;
}

  .quantity__button:hover{
      /* background: none; */
    }
  .quantity__input {
    color: currentColor;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 1;
    text-align: center;
    background-color: white;
    border: 0;
    padding: 0 .5rem;
    height: 30px;
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    appearance: none;
  }
  .quantity {
    border: .1rem solid black;
    background-color: black;
    border-radius: 10px;
    position: relative;
    width: 7rem;
    display: flex;
  }
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
  } 





  .medium-down{
    display: none;
}






















































/* component-quantity */
.quantity {
    border: 0.1rem solid var(--color-foreground-55);
    position: relative;
    width: 14rem;
    display: flex;
  }
  
  .quantity__input {
    color: currentColor;
    align-self: center;
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 1;
    text-align: center;
    background-color: white;
    border: 0;
    padding: 0 0.5rem;
    height: 4.5rem;
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .quantity__button {
    width: 4.5rem;
    flex-shrink: 0;
    font-size: 1.8rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-foreground);
  }
  
  .quantity__button svg {
    width: 1rem;
    pointer-events: none;
  }
  
  .quantity__input:-webkit-autofill,
  .quantity__input:-webkit-autofill:hover,
  .quantity__input:-webkit-autofill:active {
    box-shadow: 0 0 0 10rem var(--color-background) inset !important;
    -webkit-box-shadow: 0 0 0 10rem var(--color-background) inset !important;
  }
  
  .quantity__input::-webkit-outer-spin-button,
  .quantity__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .quantity__input[type='number'] {
    -moz-appearance: textfield;
  }
  
  
  
  
  
  /* Side Cart Drawer */
  
  
  .cart-Product--Info .quantity-Text{
    padding: 10px 0px 5px 0px;
  }
  .quantity-Column svg{
    width: 1rem;
    pointer-events: none;
  }
  .quantity-Icon{
    /* background: rgb(250, 0, 0); */
  } 
  .minus-Btn{
    border-radius: 10px 0px 0px 10px;
  }
  .plus-Btn{
   border-radius: 0px 10px 10px 0px; 
  }
  
  
  .quantity-Minus{
    border-radius: 7px 0px 0px 7px;
    height: 36px;
  }
  .quantity-Plus{
    border-radius: 0 7px 7px 0px;
  }
  .quantity-Column .quantity-Btn{
    width: 30px;
    padding: 0px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 29px;
  }
  .quantity-Column .quantity__input {
    height: 28px;
  }
  
  
  
  
  
  
  
  @media (max-width: 767.98px) {
  .medium-down{
      display: block;
      padding-bottom: .5em;
  }
  .quantity {
      width: 8rem;
    }
  .quantity__button {
      width: 2rem;
  
    }
  
    
  
    .cart-Remove--Btn{
      padding-top: 1.6em;
      /* padding-left: 3em; */
      position: absolute;
      right: 20px;
      color: black;
  }
  .cart-item__price-wrapper {
      padding-top: 4em;
    }
  
    .item-Row{
      border-bottom: 1px solid rgb(231, 231, 231);
  }
  
  
    }
  

    

























  
  @media (max-width: 1210.98px) {
    header .top-row .grid-container .item-2 {
      font-size : 35px;
    }

    
    }
    
    @media (max-width: 991.98px) {
    .header--margin {
    height : 71px;
    }
    #header {
    border-bottom : 1px solid rgb(231, 231, 231);
    }
    .nav-up {
    transform : translateY(-104px);
    transition : transform 0.3s 0s ease-in-out;
    }
    .nav-down {
    transform : translateY(0);
    transition : transform 0.3s 0s ease-in-out;
    }
    header .top-row .item-1 .hamburger {
    display : inline-block;
    }
    header .top-row .item-1 .icons-list .account-Icon--Mobile {
    display : flex;
    background-color : transparent;
    border : none;
    /* color: black; */
    }
    header .top-row .item-3 .icons .icons-list .shopping-Bag .numberofItems {
      top: 14px;
    }
    header .top-row .item-3 .user-account {
    display : none;
    }
    header .header-secondary-row {
    display : none;
    }
    
    
    .opened-menu {
    overflow : hidden;
    }
    

    
    
    
    /* .search-Results-Overlay #search-Results-Input {
    width : 90%;
    } */
    .search-Results-Overlay .popular-Searches {
    display : block;
    }
    .search-Results-Overlay .popular-Links {
    justify-content : center;
    }
    .search-Results-Overlay .popular-Searches--Text {
    text-align : center;
    margin-bottom : 0.5em;
    }
    .search-Results-Overlay .popular-Search--Links {
    margin-top : 2.5em;
    }
    .search-Results-Overlay .popular-Link {
    padding : 0.5em 1em;
    font-size : 14px;
    }
    .search-Results-Overlay .popular-Searches--Text {
    font-weight : 800;
    font-size : 18px;
    }
    .cart-drawer .offcanvas-header {
      padding: .5em 1em 0em 1em;
    }
    
    }
    
    @media (max-width: 767.98px) {
    
    
    .search-Results-Overlay .popular-Searches {
    display : block;
    }
    .search-Results-Overlay .popular-Links {
    text-align : center;
    display : block;
    }
    .search-Results-Overlay .popular-Searches--Text {
    text-align : center;
    }
    .search-Results-Overlay .container .row .col a .grid-item .search-Query--Image {
    border-radius : 15px;
    }
    
    .search-Results-Overlay .input-box {
      text-align : center;
      padding: 0 1em;
      }
    
    .center-Popup{
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .center-Popup .popup-Square {
      width: 100%;
      min-height: unset;
    }
    .center-Popup .row > * {
      padding-right: 10px;
      padding-left: 10px;
    }
    }
    
    @media (max-width: 575.98px) {

    header .top-row .grid-container {
    grid-template-columns : 32.5% 35% 32.5%;
    }
    header .top-row .item-2 .desktop-logo img {
    max-width : 60px;
    max-height : 50px;
    }
    header .top-row .grid-container .item-3 .icons .icons-list li {
    padding : 0 2px;
    }
    header .top-row .item-3 .icons .icons-list .shopping-Bag .numberofItems {
    right : 20px;
    }
    .cart-drawer .offcanvas-header {
      padding: .5em .5em 0em 1em;
    }
    
    .cart-drawer .checkout-Btn {
      padding : 1.5em .5em 1em .5em;
      border : none;
      }
    
      .cart-drawer .add-To-Cart--Btn {
        padding: 15px 20px;
        font-size: 14px;
      }
    
    
    } 
  
  