/* Collection Page Header */

.prod-Results-Header{
  width: 100%;
  position: sticky;
  z-index: 2;
  border-bottom: 1px solid rgb(231, 231, 231);
  background: rgb(255, 255, 255);
}
.results-Header--onLoad{
transform: translateY(0px);
transition: transform 0.3s ease-in-out 0s;
top: 89px;
}

.scrollDown{
top: 0px;
transform: translateY(0px);
transition: transform 0.3s ease-in-out 0s;
}

.prod-Results-Header .prod-Results-Container{
background: rgb(255, 255, 255);
padding: 5px 0;
}
.prod-Results-Header .prod-Results-Row{
padding: 10px 0px 10px;
margin: 0px;
}

.prod-Results-Header .hide-Filters{
display: flex;
}
.prod-Results-Header .hide-Filters .form-check-label{
padding:0 10px 0 60px;
font-size: 17px;
font-weight: 500;
}
.prod-Results-Header .hide-Filters .form-check{
padding-left:5em;
align-self: center;
}
.hide-Filters .toggle-filters{
border: 2px solid black;
font-size: 12px;
padding: 8px 10px;
border-radius: 10px;
font-weight: 600;
cursor: pointer;
}
.filter-Icon{
  width: 100%;
  height: 20px;
}

.prod-Results-Header .results-Title{
font-size: 18px;
font-weight: 700;
padding: 0em 0em 0em 0em;
align-self: center;
}
.prod-Results-Header .product-Amount{
padding-left: 5px;
font-weight: 400;
}
.prod-Results-Header .collection-Name{
justify-content: center;
display: flex;
}

.prod-Results-Header .form-select{
width: 100%;
font-size: 16px;
padding: 0 2em 0  1em ;
color: rgb(0, 0, 0);
height: 40px;
border: black 2px solid;
border-radius: 10px;
font-weight: 500;
}
.prod-Results-Header .sort-Menu{
font-size: 17px;
justify-content: center;
font-weight: 500;
display: flex;
}
.prod-Results-Header .product-Sorting{
display: flex;
align-self: center;
}
.prod-Results-Header .sort-Menu-Title{
padding-right: .5em;
}
.form-select:focus {
box-shadow: none;
}






/* Filter Box & Product Layout Wall */

.products-Section .wall{
  width: 100%;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.products-Section .results-body{
  display: flex;
  background-color: rgb(255, 255, 255);
}





/* Filter Box */
  
.products-Section .filter-box{
  width: 450px;
  overflow-y: auto;
  background: rgb(248, 248, 248);
}
.products-Section .filterbox-onLoad{
  top: 162px;
  height: calc(100vh - 162px);
  position: sticky;
}
.filterbox--scrollDown{
  top: 73px;
  height: calc(100vh - 73px);
  position: sticky;
}
.products-Section .filter-box.hide-Filter--Box{
  display: none;
}
.products-Section .filters-Header-Container{
  /* padding-top: 1em ; */
  text-align: center;
  padding: 2em 0 3em 0;
  background-color: rgb(248, 248, 248);
}
.products-Section .filter-box .sortby-Accordion-Item{
  display: none;
}
.products-Section .filter-box .sortby-Title{
  font-size: 18px;
}
.products-Section .filter-Section--Header .hide-Filters{
  display: none;
  background: rgb(248, 248, 248);
  padding: 1em;
}

.products-Section .filters-Header{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.products-Section .sort-Header{
  display: none;
  padding-left: 5px;
}

.products-Section .clear-Filters--BTN{
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  width: 60%;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 1em;
}
.active-filters{
  font-weight: 400;
  margin-left: 10px;
}
.products-Section .filter-column .accordion-button:hover{
  background: rgb(248, 248, 248);
}
.products-Section .accordion-button{
  background-color: rgb(248, 248, 248);
}
.products-Section .accordion-item{
  padding: 10px;
  border: none;
  background-color: rgb(248, 248, 248);
}
.products-Section .filter-column{
  position: sticky;
  top: 0px;
  background: rgb(255, 255, 255);
  height: auto;
}

.products-Section .filter-column .form-check-label{
  color:#272727;
  font-size: 13px;
}

.products-Section .accordion-button{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  border: none;
} 
.products-Section .accordion-collapse{
  border: none;
}
.products-Section .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.products-Section .accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.products-Section .accordion-button:not(.collapsed) {
  color: rgb(71, 71, 71);
  background: rgb(248, 248, 248);
  box-shadow: none;
}
.products-Section .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(180deg);
}
.products-Section .form-check-input:checked {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}
.products-Section .form-check-input:focus{
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0.25);
  border-color: rgb(0, 0, 0);
}
.products-Section .form-check{
  padding: 10px 0px;
  margin-left: 30px;
}

.products-Section .filter-box .sortby-Accordion-Item{
  padding: 30px 20px;
}



.products-Section .color-Filter .form-check{
  margin-left: 0px;
}




/* Product Layout Wall  */

.products-Section .products-grid{
  width: 100%;
  overflow: auto;
  border-left: 1px solid rgb(231, 231, 231);
}
.products-Section .prod-cont{
  width: 100%;
  overflow: scroll;
}  




  
  
    /* +++++++++    Media Queries     ++++++++++ */
  

  @media (max-width: 1210.98px) { 
    .results-Header--onLoad {
      top: 56px;
    }


    .products-Section .filterbox-onLoad {
      top: 129px;
      height: calc(100vh - 129px);
      position: sticky;
    }
  }
  

  @media (max-width: 991.98px) {
    .prod-Results-Header .product-Sorting {
      display: block;
    }
    .opened-menu {
      overflow-y : scroll;
      }
  }
  
  
  @media (max-width: 767.98px) {
    .prod-Results-Header .hide-Filters .form-check {
      padding-left: 0em;
    }
    .prod-Results-Header .results-Title {
      font-size: 17px;
    }
    .prod-Results-Header .form-select {
      width: 100%;
      font-size: 15px;
      height: 30px;
      align-self: center;
    }
    .prod-Results-Header .sort-Menu{
      display: none;
    }
    .prod-Results-Header .collection-Name {
      justify-content: right;
      justify-content: flex-end;
      padding-right: 1em;
      /* display: flex; */
    }
    .mobile-Hide--Filterbox{
      display: none;
    }
    .products-Section .filter-box.hide-Filter--Box {
      display: block;
    }
    .products-Section .filter-box .sortby-Accordion-Item{
      display: block;
    }


    .products-Section .filter-Section--Header .hide-Filters{
      display: block;
    }
    .products-Section .sort-Header{
      display: block;
    }


    .products-Section .filter-box {
      width: 100%;
      z-index: 10;
      position: fixed;
    }
    .products-Section .filterbox-onLoad {
      top: 0px;
      height: calc(100vh - 0px);
    }

    .filterbox--scrollDown {
      top: 0px;
      height: calc(100vh - 0px);
      position: sticky;
    }

    .opened-menu {
      overflow-y : hidden;
      }

  }


  @media (max-width: 575.98px) {
    .prod-Results-Header .hide-Filters .form-check {
      padding-left: 0em;
    }
    .prod-Results-Header .collection-Name {
      padding-right: 5px;
    }
  }
  