
.two-collections{
    padding: 4em 0em;
    width: 100%;
}
.two-collections .grid-container{
    order: 0;
    display: grid;
    padding: 4em 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    column-gap: 24px;
}
.two-collections .grid-container .grid-item{
    width: 100%;
}
.two-collections .grid-container .grid-item img{
    width:100% ;
    border-radius: 20px ;
    object-fit: cover ;
    height: 500px ;
}
.two-collections .grid-container  .left-img{
    grid-area: 1/1;
}
.two-collections .grid-container .left-text{
    grid-area: 2/1;

    background: #fff;
    top: -25px;
    position: relative;
    width: 90%;
    padding: 2em;
    border-radius: 20px;
    left: 20px;
    /* border: 1px solid black; */


}
.two-collections .grid-container .right-img{
    grid-area: 1/2;
}
.two-collections .grid-container .right-text{
    grid-area: 2/2;
    padding: 20px 0px 20px 0px;
}
.two-collections button{
    padding: 16px 40px;
    border-radius: 10px;
}

.textbox-button{
    display: inline-block;
}

.two-collections .image-Title{
    margin-bottom: .5em;
    font-size: 30px;
}


.two-collections .image-Text{
    color: rgb(71, 71, 71);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 2.5em;
}






      /* +++++++++    Media Queries     ++++++++++ */



/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

/*---------- Two Collections Section -----------*/

.two-collections .grid-container{
    display: contents;
}
.two-collections .grid-container .collection {
    padding-top: 30px;
}
.two-collections button {
    padding: 16px 30px;
  }
  .two-collections button a{
    font-size: 13px;
  }
  .two-collections .image-Text {
    font-size: 14px;
    margin-bottom: 1.5em;
}
.two-collections .grid-container .left-text{
    padding: 1.5em;
}


}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

/*---------- Two Collections Section -----------*/
.two-collections{
    padding: 4em 1em;
}
.two-collections .grid-container .grid-item img{
    height: 300px ;
}

.two-collections .image-Title{
    font-size: 20px;
}


}

@media (max-width: 575.98px) {
    .two-collections{
        padding: 3em 1em;
    }
    .two-collections .grid-container .grid-item img {
        height: 250px ;
    }
    .two-collections .grid-container .left-text{
       padding: 1em;
    }


}

