/*---------- Hero Section -----------*/

.hero-section {
    line-height: 1.35;
  }
  .hero-section .hero-grid{
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto repeat(24, 1fr) auto;
    grid-template-rows: 20em 8em 1fr 1.5em auto 2em 0em;
    height: auto;
    box-sizing: border-box;
    margin: 0px;
  } 
  .hero-section .hero-grid .hero-style2{
    grid-area: 1 / 1 / 8 / 27;
    height: 100%;
  }
  .hero-section .hero-grid .hero-style2 .hero-style{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    height: 100%;
  } 
  .hero-section .hero-grid .hero-textbox .textbox-background{
    /* background: rgba(255, 255, 255, 0.849); */
    padding: 2em 2em 3em;
    border-radius: 25px;
  }
  .hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style{
    font-size: 0px;
    width: 100%;
  }
  .hero-section .hero-grid .hero-textbox{
    grid-area: 2 / 3 / 5 / 20;
    opacity: 1;
    align-self: center;
    min-width: 21em;
    max-width: 900px;
    z-index: 3;
  }
  .hero-section .top-Text{
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-decoration: underline dotted;
  }
  .hero-section .main-Text{
    font-weight: 800;
    font-size: 55px;
    color: white;
  }
  .hero-section .lower-Text{
    font-weight: 500;
    font-size: 22px;
    color: white;
  }


  .hero-section .hero-grid .hero-textbox .textbox-background .description{
    margin: .75em 16px 1.5em;
  }
  .hero-section .hero-grid .hero-textbox .textbox-background .description .textbox-description{
    color: rgb(101, 101, 101);
    font-size: 16px;
    line-height: 1.35;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  }
  .hero-section .textbox-button button{
    padding: 12px 0px;
    border-radius: 10px;
  }
  .hero-section .textbox-button .link-padding{
    padding: 15px 40px;
  }
  
  .hero-section .overlay-container{
    position: relative;
  }
  .hero-section .overlay {
    width: 100%;
    height: 650px;
    background: #00000057;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(70deg, rgb(0, 0, 0) 15%, rgba(255,255,255,0) 70%);
  }


  .hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style .img{
    width: 100%;
    height: 650px;
    position: relative;
    object-fit: cover;
    object-position: left;
  }
  .hero-section .flickity-viewport{
    height: 650px!important;
  }

    /* Slide Show */
    .product-image{
      position: absolute;
      left: 0px;
      transform: translateX(0%);
      height: 650px;
      width: 100%;
      object-fit: cover;
    }
    .flickity-prev-next-button {
      display: none;
    }
    .flickity-page-dots{
      display: none;
    }





















      /* +++++++++    Media Queries     ++++++++++ */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1210.98px) { 

    /*---------- Hero Section -----------*/
    .hero-section .hero-grid .hero-textbox .textbox-background{
      padding: 2em 2em 2em;
    }
    
    }
    
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {

    /*---------- Hero Section -----------*/
    .hero-section .hero-grid{
      grid-template-rows: 20em 4em 1fr 1.5em auto 2em;
    }
    .hero-section .hero-grid .hero-textbox{
      grid-area: 2 / 2 / 5 / 23;
      min-width: 12em;
    }
    .hero-section .hero-grid .hero-textbox .textbox-background{
      padding: 2em 2em 2em;
    }
    

    
    }
    
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) {
    
    /*---------- Hero Section -----------*/
    .hero-section .hero-grid{
      grid-template-rows: 16em 4em 1fr 1.5em auto 0em;
    }
    .hero-section .top-Text{
      color: white;
      font-size: 30px;
      font-weight: 900;
      text-decoration: underline dotted;
    }
    .hero-section .main-Text{
      font-weight: 800;
      font-size: 45px;
      color: white;
    }
    .hero-section .lower-Text{
      font-weight: 500;
      font-size: 25px;
      color: white;
    }
    /* .hero-section .main-Text {
      font-weight: 800;
      font-size: 45px;
      color: white;
    } */

    .hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style .img{
      height: 550px;
    }
    .product-image{
    height: 550px;
    } 
    .hero-section .overlay {
      height: 550px;
    }
    .hero-section .flickity-viewport{
      height: 550px!important;
    }
   
   /* .hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style .img{
      height: 70vh;
    }
    .product-image{
    height: 70vh;
    } */



    
    }
    
    
    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) {
    

    
        /*---------- Hero Section -----------*/

    .hero-section .hero-grid .hero-textbox .textbox-background {
    
        padding: 1em 1em 1em;
        border-radius: 20px;
    }
    

    
    /*---------- Hero Section -----------*/
    .hero-section .hero-grid {
      grid-template-rows: 13em 2em 1fr 1.5em auto 0em;
    }
    .hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style .img{
      height: 450px;
    }
    .product-image{
    height: 450px;
    }
    .hero-section .overlay {
      height: 450px;
    }
    .hero-section .flickity-viewport{
      height: 450px;
    }
    
    
   
    /* .hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style .img{
      height: 55vh;
    }
    .product-image{
    height: 55vh;
    } 
    .hero-section .overlay {
      background: linear-gradient(70deg, rgb(0, 0, 0) 15%, rgba(255,255,255,0) 70%);
      height: 55vh;
    }
    .hero-section .flickity-viewport{
      height: 55vh!important;
    } */
    
    .hero-section .hero-grid .hero-textbox{
      grid-area: 2 / 3 / 5 / 25;
      min-width: 12em;
    }
    .hero-section .textbox-background{
    padding: 1em 1em 2em;
    }
    .hero-section .top-Text{
      color: white;
      font-size: 18px;
      font-weight: 900;
      text-decoration: underline dotted;
    }
    .hero-section .main-Text{
      font-weight: 800;
      font-size: 30px;
      color: white;
    }
    .hero-section .lower-Text{
      font-weight: 500;
      font-size: 16px;
      color: white;
    }


    .hero-section .textbox-button .link-padding{
      padding: 15px 30px;
    }
    
    }
    